{% load static i18n utils %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% block title %}{% trans "Sunnyside & Woodside Mutual Aid" %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="icon" href="{% static 'img/greylogo.png' %}" type="image/x-icon">

    {% block meta %}
      <meta name="og:title" content="{% trans 'Sunnyside & Woodside Mutual Aid' %}"/>
      <meta name="og:type" content="website"/>
      <meta name="og:url" content="{{ request.path }}"/>
      <meta name="og:image" content="https://{{ request.META.HTTP_HOST }}{% static 'img/greylogo.png' %}"/>
      <meta name="og:image:width" content="60" />
      <meta name="og:image:height" content="60" />
      <meta name="og:description" content="{% trans "We're coming together as a community to support each other through the Coronavirus COVID-19 outbreak." %}"/>

      <meta name="description" content="{% trans "We're coming together as a community to support each other through the Coronavirus COVID-19 outbreak." %}">
    {% endblock %}

    <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}" >
    <link rel="stylesheet" href="{% static 'custom/css/custom.css' %}">
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light navbar-light static-top">
    <a class="navbar-brand" href="{% url 'index' %}" aria-label="{% trans 'Return to index' %}"><img src="{% static 'img/greylogo.png' %}" alt="{% trans 'Sunnyside & Woodside Mutual Aid logo - two trees side by side with the sun in the background' %}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
    <div class="navbar-nav">
      {% get_pages as pages %}
      {% for page in pages %}
        <a class="nav-item nav-link {% if request.path == page.get_absolute_url %}active{% endif %}" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
      {% endfor %}

      <div class="lang-divider"></div>
      {% get_language_info_list for LANGUAGES as languages %}
      {% for lang in languages %}
      <a class="nav-item nav-link language {% if lang.code == LANGUAGE_CODE %}active{% endif %}" href="/{{ lang.code }}/">{{ lang.name_local }}</a>
      {% endfor %}
    </div>
  </div>
  </nav>
  {% block jumbotron_block %}
  <div class="container h-100 mb-2">
    <div class="jumbotron my-auto" style="background-color:#fffffa">
      <div align="center">
        {% block body_block %}
        <h1 style="font-size:48px;"><strong>{% trans 'Sunnyside & Woodside Mutual Aid' %}</strong></h1>
        <h2><a href="{% url 'page' slug='get-help' %}">{% trans 'Need Coronavirus Help?' %}</a></h2>
        <p>{% trans "We’re coming together as a community to support each other through the Coronavirus COVID-19 outbreak." %}</p>

        <div class="container text-center center-block">
          <div class="row justify-content-md-center">
             <div class="rectangle icon-pad">{% trans "Groceries" %}</div>
             <div class="rectangle icon-pad">{% trans "Errands" %}</div>
             <div class="rectangle icon-pad">{% trans "Support" %}</div>
             <div class="rectangle icon-pad">{% trans "and more!" %}</div>
          </div>
        </div>

        <br><hr class="divider">
        <h2><a href="{% url 'page' slug='volunteer' %}">{% trans "Want to volunteer?" %}</a></h2>
        <p>{% trans "We’re a group of community organizers helping match volunteers to people in need in Sunnyside, Queens! Please get in touch if you’d like to be added to our network." %}</p>

        <br><hr class="divider">
        <iframe src="https://swma.substack.com/embed" width="480" height="320" frameborder="0" scrolling="no"></iframe>
        {% endblock %}
      </div>
    </div>
  </div>
  {% endblock %}

  <script src="{% static 'jquery/jquery-3.4.1.slim.min.js' %}"></script>
  <script src="{% static 'popper/popper.min.js' %}"></script>
  <script src="{% static 'boot/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'fontawesome/js/all.js' %}"></script>
  <footer>
    <div class="container text-center center-block mt-4 mb-4" align="center">
       <div class="text-center center-block">
          <a href="https://www.facebook.com/groups/sunnysidemutualaid/" aria-label="{% trans 'Sunnyside & Woodside Mutual Aid Facebook group' %}"><i class="fab fa-facebook fa-3x fb-color" id="icon-pad"></i></a>
          <a href="https://www.instagram.com/swma_nyc/" aria-label="{% trans 'Sunnyside & Woodside Mutual Aid Instagram' %}"><i class="fab fa-instagram fa-3x ig-color" id="icon-pad"></i></a>
          <a href="https://twitter.com/swma_nyc" aria-label="{% trans 'Sunnyside & Woodside Mutual Aid Twitter' %}"><i class="fab fa-twitter fa-3x twitter-color" id="icon-pad"></i></a>
          <a href="mailto:mail@swma.nyc" aria-label="{% trans 'Sunnyside & Woodside Mutual Aid email address' %}"><i class="fas fa-envelope fa-3x gmail-color" id="icon-pad"></i></a>
          <a href="tel:+1-973-709-5975" aria-label="{% trans 'Sunnyside & Woodside Mutual Aid telephone contact' %}"><i class="fas fa-phone-square fa-3x voice-color" id="icon-pad"></i></a>
        </div>
    </div>
  </footer>
</body>
</html>
