{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Volunteer' %}{% endblock %}
{% block meta %}
<meta name="description" content="{% trans 'Volunteer to Provide Coronavirus Mutual Aid in Sunnyside & Woodside.' %}">
{% endblock %}
{% block jumbotron_block %}
{% block body_block %}
<div class="container jumbotron page-container h-100 mb-2">
  <div class="row">
    <div class="col-12">
      <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrh1EQuZnLLABu3m?backgroundColor=cyan" frameborder="0" onmousewheel="" width="100%" height="6692" style="background: transparent; border: 1px solid #ccc;"></iframe>
    </div>
  </div>
</div>
{% endblock body_block %}
{% endblock jumbotron_block %}
