html, body {
    background-color: #efefef;
}

/* custom navbar background color */
.bg-light {
  background-color: #efefef !important;
}

.rectangle {
  padding: 10px;
  border: 2px solid #c6ecc6;
  border-radius: 10px;
  text-align: center;
}

.divider{
  background-color: #f0f0f0;
  float: center;
}

.fb-color {
  color: #4267B2;
}

.twitter-color {
  color: #1da1f2;
}

.gmail-color {
  color: #DB4437;
}

.voice-color {
  color: #0F9D58;
}
.icon-pad {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-nav {
  width: 100%;
}
.lang-divider {
  margin-left: auto;
}

.page-container {
  background: #fffffa;
}

.page-container img {
  max-width: 100%;
}

footer a + a {
  margin-left: 12px;
}

@media (max-width: 575px) {
  .navbar-nav {
    text-align: center;
    border: solid 1px #CCC;
  }
  .navbar-nav a + a {
    border-top: solid 1px #CCC;
  }
  .lang-divider {
    width: 100%;
    border-top: solid 1px #000;
  }
  .mailing-list {
    width: 100%;
  }
}
